.item{
    display: flex;
    background-color: white;
    color: #1b1b2f;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #1b1b2f;
    border-radius: 0.5rem;
}

.item .contact{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

}

.item .contact p{
    font-weight: 550;
}

.item .icons{
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    align-items: center;
}

.item .icons .edit-icon {
    min-width: 10%;
    padding: 0.5rem;
    background-color: #a57404d7;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #a57404d7;
    border-radius: 0.5em;
    transition: 0.3s;
}

.item .icons .delete-icon{
    min-width: 10%;
    padding: 0.5rem;
    background-color: #ff0000;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #ff0000;
    border-radius: 0.5em;
    transition: 0.3s;
}

.item .icons .edit-icon:hover{
    background-color: #765302d7;
    cursor: pointer;
}

.item .icons .delete-icon:hover{
    background-color: #ab0404;
    cursor: pointer;
}